extends main

block body
	.aboutus
		h4 Welcome to the IR Sprectrum Recognizer!
		p.spaced This is the work of Alex Matthews, Josh Ellis, Josh Hollingsworth, Joseph Sneddon, and Aaron Kruger for the CSC450 class at Missouri State University. 
			| This project was made in order to help Dr. Yoshimoto in the Chemistry Department here at MSU top help automate the process of finding
			| a match for an elements IR Spectrum reading. 
		h4 How to use the Website
		ol
			li Click the 'Select File' button on the homepage
			li Select a pdf, jpg, png, or other image file of an IR Spectrum reading
			li Click the 'Find Match' button
			li Select from the list of elements on the left side of the screen to show the different results
		h4 Where to find Source Code
		p.spaced The source code for this project can be found at 
			a(href="https://github.com/amatthews4851/irspectrum") https://github.com/amatthews4851/irspectrum
		h4 License
		p.spaced What do you think guys? What should the license be for this bad boy?

	script(src="./js/aboutus.js")