extends main

block body
	input(type="file", id="fileInput").hidden
	span(id="findButton").btn.btn-primary.disabled Find Match
	span(id="selectFile").btn.btn-primary Select File
	span(id="filename") No File Selected


	script(src="./js/home.js")