extends main

block body
	div(id='buttonholder')
		input(type="file", id="fileInput").hidden
		span(id="findButton").btn.btn-primary.disabled Find Match
		span(id="selectFile").btn.btn-primary Select File
		span(id="filename") No File Selected
	
	div.messages
		h1.hidden(id="sending") Sending PDF to Server
		h1.hidden(id="getData") Getting Data From PDF
		h1.hidden(id="comparing") Comparing to Other Compounds


	script(src="./js/home.js")