doctype
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		title IR Spectrum Recognizer
		link(rel="stylesheet" href="/css/bootstrap.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work%20Sans")
		link(rel="stylesheet" href="/css/main.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		block head
	body
		#header
			div
				a(href="/")
					img#logo(src="./images/favicon.png", alt="Cool Logo")
				h1.title IR Spectrum Recognizer
			ul(class="nav nav-tabs header navigationBar")
				li(class="nav-item"): a(class="nav-link header" id="home" href="/") Home
				li(class="nav-item"): a(class="nav-link header" id="aboutus" href="/aboutus") About Us
		block body